* {
  box-sizing: border-box;
}

:root {
  --bs-primary: #f28662;
  --bs-secondary: #f5f5f5;
  --bs-primary-rgb: rgba(242, 134, 98, 0.17);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0 auto;
  max-height: 100vh;
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  font-family: "Staatliches", sans-serif;
  font-size: 5em;
}

h2 {
  font-size: 2em;
  font-weight: 600;
}

h3 {
  font-size: 1.25em;
  font-weight: 300;
}

.navbar {
  background-color: var(--bs-secondary);
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.hero {
  margin: 0px auto;
  padding: 100px 20px;
  text-align: center;
  background-color: var(--bs-secondary);
}

main {
  margin: auto;
  padding: 60px 20px;
  max-width: 800px;
  justify-content: center;
  text-align: center;
}

footer {
  margin: auto;
  padding: 30px 0;
  max-width: 800px;
  text-align: center;
}

.button {
  margin-top: 100px;
}

.primary-link {
  padding: 10px 30px;
  background-color: var(--bs-primary);
  border-radius: 40px;
  color: white;
  text-decoration: none;
}

.primary-link:hover {
  background-color: white;
  color: var(--bs-primary);
  border: 1px solid var(--bs-primary);
  text-decoration: none;
}

.secondary-link {
  padding: 10px 30px;
  background-color: white;
  border: 1px solid var(--bs-primary);
  border-radius: 40px;
  color: var(--bs-primary);
  text-decoration: none;
}

.secondary-link:hover {
  background-color: var(--bs-primary);
  color: white;
}

.project-image-bg {
  background-color: var(--bs-secondary);
}

footer a {
  text-decoration: none;
  color: black;
}

footer a:hover {
  color: var(--bs-primary);
}

.fa-brands {
  color: var(--bs-primary);
  padding: 7px;
  background-color: var(--bs-primary-rgb);
  border-radius: 40px;
}

.fa-brands:hover {
  color: white;
  padding: 7px;
  background-color: var(--bs-primary);
}

.about {
  margin-top: 160px;
  text-align: start;
}

.about h1 {
  margin: 15px 0;
  font-size: 2.6em;
}

.about h3 {
  margin: 10px 0px 15px 0px;
}

.about img {
  border-radius: 30px;
}

.about .button {
  margin-top: 40px;
}
